
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Tajawal', sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 10% 94%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 10% 94%;
    --muted-foreground: 210 10% 45%;
    --accent: 210 10% 90%;
    --accent-foreground: 210 10% 23%;
    --destructive: 354 70% 53%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 90%;
    --input: 210 10% 90%;
    --ring: 211 100% 50%;
    --chart-1: 29 100% 50%; /* Necessities */
    --chart-2: 134 61% 40%; /* Financial Freedom */
    --chart-3: 190 80% 41%; /* Long-term Savings */
    --chart-4: 266 59% 51%; /* Education */
    --chart-5: 45 100% 51%; /* Play/Fun */
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 88%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 88%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 88%;
    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 56%;
    --accent: 0 0% 22%;
    --accent-foreground: 0 0% 98%;
    --destructive: 354 70% 53%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --ring: 211 100% 50%;
    --chart-1: 29 100% 50%; /* Necessities */
    --chart-2: 134 61% 40%; /* Financial Freedom */
    --chart-3: 190 80% 41%; /* Long-term Savings */
    --chart-4: 266 59% 51%; /* Education */
    --chart-5: 45 100% 51%; /* Play/Fun */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    direction: rtl;
  }
}
